@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-x:before {
  content: "\e904";
}

._icon-facebook2:before {
  content: "\ea91";
}

._icon-instagram:before {
  content: "\ea92";
}

._icon-linkedin:before {
  content: "\eac9";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 140px;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #e2e8f0;
  background: #f8fafc;
}
.confirm__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.confirm__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 52px;
  height: 52px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1300px;
  background: #cef3d6;
}
.confirm__title {
  color: #28a745;
  font-weight: 600;
  line-height: 116%;
  text-align: center;
}
@media (min-width: 89.375em) {
  .confirm__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 2.0625rem , 1.7922297297rem  +  1.3513513514vw , 3rem )) {
    .confirm__title {
      font-size: clamp( 2.0625rem , 1.7922297297rem  +  1.3513513514vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 2.0625rem , 1.7922297297rem  +  1.3513513514vw , 3rem )) {
    .confirm__title {
      font-size: calc(2.0625rem + 0.9375 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .confirm__title {
    font-size: 2.0625rem;
  }
}
.confirm__text {
  max-width: 800px;
  text-align: center;
}

.subscription {
  padding-top: 3rem;
  padding-bottom: 3.25rem;
}
.subscription__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.subscription__card {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 40px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  border-radius: 16px;
  background: #f1f5f9;
}
.subscription__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 24px;
}
.subscription__link {
  color: #28a745;
  font-weight: 700;
  line-height: 135%; /* 21.6px */
  letter-spacing: -0.2px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .subscription__link:hover {
    color: #1e293b;
  }
}

.card__title {
  color: #1e293b;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}
.card__item:not(:last-child) {
  border-bottom: 1px solid #e2e8f0;
}

.item-card__subtitle {
  color: #4d5154;
  font-size: 18px;
  font-weight: 500;
}
.item-card__plan {
  padding: 8px;
  border-radius: 4px;
  background: #cef3d6;
  color: #28a745;
  font-weight: 600;
}
.item-card__info {
  color: #1e293b;
  font-weight: 600;
  line-height: 116%;
}

.information {
  padding-bottom: 3rem;
}
.information__container {
  max-width: 76.875rem;
}
.information__wrapper {
  padding: 40px 32px;
  border-radius: 12px;
  background: #f1f5f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .information__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}
.information__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.information__text {
  color: #475569;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 47.99875em) {
  .information__text {
    font-size: 16px;
  }
}

.item-information svg {
  width: 32px;
  height: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-information span {
  color: #041007;
  font-size: 20px;
  font-weight: 700;
}