.privacy {
  padding-top: 2.3125rem;
  padding-bottom: 5.625rem;
}
.privacy__container {
  max-width: 47.5rem;
}
.privacy__title:not(:last-child) {
  margin-bottom: 1.875rem;
}
.privacy__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}
.privacy__wrapper {
  display: grid;
  gap: 1.25rem;
}
.date:not(:last-child) {
  margin-bottom: 1.25rem;
}
.date__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}
.item-date__title {
  font-size: 1.25rem;
  font-weight: 600;
}
.item-date span {
  font-size: 1.125rem;
}

.subtitle {
  color: #000;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
}

.item-privacy__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.item-privacy__text {
  line-height: 1.2;
  font-size: 1.125rem;
}
.item-privacy__text:not(:last-child) {
  margin-bottom: 1.25rem;
}
.item-privacy__text p:not(:last-of-type) {
  margin-bottom: 1.25rem;
}
.item-privacy__list {
  padding-left: 1.25rem;
}
.item-privacy__list > *:not(:last-of-type) {
  margin-bottom: 0.625rem;
}
.item-privacy__list li {
  font-size: 1.125rem;
  position: relative;
  padding-left: 0.9375rem;
}
.item-privacy__list li::before {
  content: "";
  position: absolute;
  top: 0.3125rem;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #5d5b5b;
  border-radius: 50%;
}
.item-privacy__list li span {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  white-space: nowrap;
}
.item-privacy a {
  font-weight: 500;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .item-privacy a:hover {
    color: #28a745;
  }
}