@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-x:before {
  content: "\e904";
}

._icon-facebook2:before {
  content: "\ea91";
}

._icon-instagram:before {
  content: "\ea92";
}

._icon-linkedin:before {
  content: "\eac9";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-x:before {
  content: "\e904";
}

._icon-facebook2:before {
  content: "\ea91";
}

._icon-instagram:before {
  content: "\ea92";
}

._icon-linkedin:before {
  content: "\eac9";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  line-height: 1.2;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.description {
  padding-top: 3.125rem;
  padding-bottom: 6.25rem;
}
.description__container {
  max-width: 62.5rem;
}
.description__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  font-weight: 500;
  color: #28A745;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.description__link span {
  color: #fff;
  background: #28A745;
  border-radius: 2px;
  padding: 0 1px 0 1px;
}
.description__link:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (any-hover: hover) {
  .description__link:hover {
    color: #212529;
  }
}

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}
@media (max-width: 47.99875em) {
  .company-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.company-info__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
  background: #f8f9fa;
  padding: 28px 36px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  max-width: 271px;
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 47.99875em) {
  .company-info__left {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.company-info__right {
  max-width: 43.75rem;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .company-info__right {
    max-width: 100%;
  }
}

.card-company__logo {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 2.5rem;
}
.card-company__logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.card-company__item {
  display: grid;
  gap: 0.3125rem;
}
.card-company__link {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .card-company__link:hover {
    text-decoration: none;
  }
}
.card-company__wrap {
  display: grid;
  gap: 1.125rem;
}
@media (max-width: 47.99875em) {
  .card-company__wrap {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    text-align: center;
  }
}
@media (max-width: 26.875em) {
  .card-company__wrap {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }
}
.card-company__badge {
  font-size: 0.625rem;
  background: #aee6bb;
  color: #212529;
  padding: 4px 6px;
  border-radius: 16px;
  font-weight: 600;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.item-card__title {
  color: #909294;
}

.social__link--dark {
  color: #4d5853;
}

.about-company__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.125rem;
}
.about-company__title {
  text-wrap: wrap;
  font-size: 30px;
  color: #212529;
  line-height: 1.5em;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
.about-company__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #28A745;
  color: white;
  font-size: 1.125rem;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 600;
}
@media (min-width: 89.375em) {
  .about-company__button {
    padding-top: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-top: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem )) {
    .about-company__button {
      padding-top: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem );
    }
  }
  @supports not (padding-top: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem )) {
    .about-company__button {
      padding-top: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .about-company__button {
    padding-top: 0.3125rem;
  }
}
@media (min-width: 89.375em) {
  .about-company__button {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-bottom: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem )) {
    .about-company__button {
      padding-bottom: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem )) {
    .about-company__button {
      padding-bottom: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .about-company__button {
    padding-bottom: 0.3125rem;
  }
}
@media (min-width: 89.375em) {
  .about-company__button {
    padding-left: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-left: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .about-company__button {
      padding-left: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .about-company__button {
      padding-left: calc(1.25rem + 0 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .about-company__button {
    padding-left: 1.25rem;
  }
}
@media (min-width: 89.375em) {
  .about-company__button {
    padding-right: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-right: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .about-company__button {
      padding-right: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
  }
  @supports not (padding-right: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .about-company__button {
      padding-right: calc(1.25rem + 0 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .about-company__button {
    padding-right: 1.25rem;
  }
}
@media (any-hover: hover) {
  .about-company__button:hover {
    background-color: #157c2d;
  }
}
.about-company__review {
  background: #f8f9fa;
  padding: 20px 50px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  min-height: auto;
}
@media (max-width: 47.99875em) {
  .about-company__review {
    padding: 10px 20px;
  }
}

.review__title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.review__text {
  color: rgb(33, 37, 41);
  word-break: break-word;
  line-height: 2rem;
}
.review__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  line-height: 1.3;
}
body.menu-open {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  scrollbar-gutter: stable;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  width: 100%;
}
@media (min-width: 89.375em) {
  .header {
    padding-top: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-top: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
    .header {
      padding-top: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem );
    }
  }
  @supports not (padding-top: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
    .header {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .header {
    padding-top: 0.625rem;
  }
}
@media (min-width: 89.375em) {
  .header {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-bottom: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
    .header {
      padding-bottom: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
    .header {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .header {
    padding-bottom: 0.625rem;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 89.375em) {
  .header__container {
    gap: 2.5rem;
  }
}
@media (min-width: 50em) and (max-width: 89.375em) {
  @supports (gap: clamp( 0.9375rem , -1.0466269841rem  +  3.9682539683vw , 2.5rem )) {
    .header__container {
      gap: clamp( 0.9375rem , -1.0466269841rem  +  3.9682539683vw , 2.5rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , -1.0466269841rem  +  3.9682539683vw , 2.5rem )) {
    .header__container {
      gap: calc(0.9375rem + 1.5625 * (100vw - 50rem) / 39.375);
    }
  }
}
@media (max-width: 50em) {
  .header__container {
    gap: 0.9375rem;
  }
}
.header__logo, .footer-top__logo {
  max-width: 13.75rem;
  height: auto;
  z-index: 25;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header__logo img, .footer-top__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #28A745;
  color: white;
  font-size: 1.125rem;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 600;
}
@media (min-width: 89.375em) {
  .header__button {
    padding-top: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-top: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem )) {
    .header__button {
      padding-top: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem );
    }
  }
  @supports not (padding-top: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem )) {
    .header__button {
      padding-top: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .header__button {
    padding-top: 0.3125rem;
  }
}
@media (min-width: 89.375em) {
  .header__button {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-bottom: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem )) {
    .header__button {
      padding-bottom: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.3125rem , 0.2224099099rem  +  0.4504504505vw , 0.625rem )) {
    .header__button {
      padding-bottom: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .header__button {
    padding-bottom: 0.3125rem;
  }
}
@media (min-width: 89.375em) {
  .header__button {
    padding-left: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-left: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .header__button {
      padding-left: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .header__button {
      padding-left: calc(1.25rem + 0 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .header__button {
    padding-left: 1.25rem;
  }
}
@media (min-width: 89.375em) {
  .header__button {
    padding-right: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-right: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .header__button {
      padding-right: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
  }
  @supports not (padding-right: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .header__button {
      padding-right: calc(1.25rem + 0 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .header__button {
    padding-right: 1.25rem;
  }
}
@media (any-hover: hover) {
  .header__button:hover {
    background-color: #157c2d;
  }
}
@media (max-width: 35em) {
  .header__button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 35em) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }
}
@media (max-width: 50em) {
  .menu__body {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 9.375rem 0.9375rem 3.125rem 0.9375rem;
    background: #cbe0d0;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 20;
    overflow-y: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    z-index: 6;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background: #fff;
  }
}
@media (max-width: 50em) and (min-width: 50em) {
  .menu__body::before {
    height: 5.0625rem;
  }
}
@media (max-width: 50em) and (min-width: 20em) and (max-width: 50em) {
  @supports (height: clamp( 4.125rem , 3.5rem  +  3.125vw , 5.0625rem )) {
    .menu__body::before {
      height: clamp( 4.125rem , 3.5rem  +  3.125vw , 5.0625rem );
    }
  }
  @supports not (height: clamp( 4.125rem , 3.5rem  +  3.125vw , 5.0625rem )) {
    .menu__body::before {
      height: calc(4.125rem + 0.9375 * (100vw - 20rem) / 30);
    }
  }
}
@media (max-width: 50em) and (max-width: 20em) {
  .menu__body::before {
    height: 4.125rem;
  }
}
.menu-open .menu__body {
  left: 0;
}
.menu-open .menu__body::before {
  left: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}
@media (min-width: 89.375em) {
  .menu__list {
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports ((-moz-column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem )) or (column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem );
         -moz-column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem );
              column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem )) or (column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 69.375);
         -moz-column-gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 69.375);
              column-gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
@media (max-width: 50em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: right;
    row-gap: 1.75rem;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: #28A745;
  }
}
.menu__link {
  position: relative;
  font-size: 1.25rem;
  line-height: 2rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-family: "Roboto";
}
@media (max-width: 50em) {
  .menu__link {
    font-size: 1.75rem;
  }
}

.icon-menu {
  z-index: 20;
  display: none;
}
@media (max-width: 50em) {
  .icon-menu {
    position: relative;
    width: 1.875rem;
    height: 1.5rem;
    background: none;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .icon-menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: #28A745;
    border-radius: 4px;
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}

.icon-menu span:nth-of-type(1) {
  top: 0;
}

.icon-menu span:nth-of-type(2) {
  top: 10px;
}

.icon-menu span:nth-of-type(3) {
  bottom: 0;
}

@media (max-width: 50em) {
  #menu02.open span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
        -ms-transform: translateY(10px) rotate(-315deg);
            transform: translateY(10px) rotate(-315deg);
  }
  #menu02.open span:nth-of-type(2) {
    opacity: 0;
  }
  #menu02.open span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
        -ms-transform: translateY(-10px) rotate(315deg);
            transform: translateY(-10px) rotate(315deg);
  }
}
.hero {
  background: url("../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  padding: 6.25rem 0;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.hero__title {
  font-weight: 700;
  color: #28A745;
}
@media (min-width: 89.375em) {
  .hero__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 2.1875rem , 1.9532657658rem  +  1.1711711712vw , 3rem )) {
    .hero__title {
      font-size: clamp( 2.1875rem , 1.9532657658rem  +  1.1711711712vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 2.1875rem , 1.9532657658rem  +  1.1711711712vw , 3rem )) {
    .hero__title {
      font-size: calc(2.1875rem + 0.8125 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 89.375em) {
  .hero__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.hero__text {
  font-family: "Roboto";
  max-width: 56.25rem;
  color: #fff;
  font-weight: 500;
}
@media (min-width: 89.375em) {
  .hero__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 1.125rem , 1.088963964rem  +  0.1801801802vw , 1.25rem )) {
    .hero__text {
      font-size: clamp( 1.125rem , 1.088963964rem  +  0.1801801802vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.088963964rem  +  0.1801801802vw , 1.25rem )) {
    .hero__text {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 89.375em) {
  .hero__text:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.3344594595rem  +  2.7027027027vw , 3.75rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.3344594595rem  +  2.7027027027vw , 3.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.3344594595rem  +  2.7027027027vw , 3.75rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.hero__form {
  max-width: 18.75rem;
  width: 100%;
}
.hero__search-wrap {
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  background-color: #fff;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  border: 0.0625rem solid transparent;
}
.hero__search-wrap:focus-within {
  border: 0.0625rem solid #28A745;
}
.hero__search-wrap img {
  width: 1.875rem;
  height: 1.875rem;
}
.hero__input {
  border: none;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.hero__input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #727476;
}
.hero__input::-moz-placeholder {
  font-size: 1rem;
  color: #727476;
}
.hero__input:-ms-input-placeholder {
  font-size: 1rem;
  color: #727476;
}
.hero__input::-ms-input-placeholder {
  font-size: 1rem;
  color: #727476;
}
.hero__input::placeholder {
  font-size: 1rem;
  color: #727476;
}

.companies {
  padding: 6.25rem 0;
}
.companies__container {
  display: grid;
  gap: 1.25rem;
  place-items: center;
}
.item-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  padding: 1.125rem;
  border: 1px solid rgba(144, 146, 148, 0.2);
  position: relative;
  min-height: 50px;
}
@media (min-width: 89.375em) {
  .item-company {
    gap: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (gap: clamp( 0.625rem , 0.1565315315rem  +  2.3423423423vw , 2.25rem )) {
    .item-company {
      gap: clamp( 0.625rem , 0.1565315315rem  +  2.3423423423vw , 2.25rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.1565315315rem  +  2.3423423423vw , 2.25rem )) {
    .item-company {
      gap: calc(0.625rem + 1.625 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .item-company {
    gap: 0.625rem;
  }
}
.item-company__number {
  color: #212529;
  font-size: 1rem;
  font-weight: 600;
}
.item-company__logo {
  width: 50px;
  height: 50px;
  background-size: contain;
  border-radius: 50%;
  border: 1px solid #212529;
}
.item-company__info {
  display: grid;
}
@media (min-width: 89.375em) {
  .item-company__info {
    gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (gap: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
    .item-company__info {
      gap: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
    .item-company__info {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .item-company__info {
    gap: 0.625rem;
  }
}
.item-company__title {
  color: #212529;
  font-weight: 600;
  white-space: nowrap;
  max-width: 12.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
}
@media (max-width: 30em) {
  .item-company__title {
    max-width: 6.25rem;
  }
}
.item-company__text {
  font-family: "Roboto";
  font-size: 1rem;
  color: #212529;
}
.item-company__descriptor {
  position: absolute;
  top: 10px;
  right: 10px;
}

.descriptor {
  padding: 0.125rem 0.3125rem;
  background-color: #83d997;
  border-radius: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.75rem;
  font-weight: 500;
}

.footer-top {
  padding: 1.875rem 0;
}
.footer-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .footer-top__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.footer-top__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .footer-top__link:hover {
    color: #28A745;
  }
}
.footer-top__total-companies {
  background-color: rgba(122, 240, 63, 0.1);
  border-radius: 4px;
  color: #28A745;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}
.footer-top__total-companies img {
  width: 1.875rem;
  height: 1.875rem;
}

.footer-bottom {
  background-color: #212529;
  width: 100%;
  padding: 1.25rem 0;
}
.footer-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
@media (max-width: 47.99875em) {
  .footer-bottom__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.footer-bottom__links-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}
.footer-bottom__links-wrap a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .footer-bottom__links-wrap a:hover {
    color: #28A745;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}
.social__link {
  color: #fff;
}
.social__link::before {
  font-size: 1.5625rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .social__link:hover::before {
    color: #28A745;
  }
}