@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,600,700,800&display=swap");

@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,700italic&display=swap");

@import url("https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");





@font-face {
	font-family: "icons";
	src:
		url("../fonts/icons.woff2") format("woff2"),
		url("../fonts/icons.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


