@use "sass:math";

// Кольори
$accentColor: #28a745;
// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1400;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
body {
	&.menu-open {
		overflow: hidden;
		touch-action: none;
	}
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

.claim-listing {
	padding-top: toRem(140);
	padding-bottom: toRem(40);
	border-bottom: 1px solid #e2e8f0;
	background: #f8fafc;
	// .claim-listing__container

	&__container {
		max-width: toRem(1230);
	}

	// .claim-listing__title

	&__title {
		color: #0f172a;
		font-size: 40px;
		font-weight: 600;
		line-height: 116%; /* 46.4px */
		margin-bottom: toRem(16);
	}

	// .claim-listing__text

	&__text {
		color: #475569;
		font-weight: 500;
	}
}

//============Stepper===================

.stepper {
	padding: 48px 0;
	// .stepper__container

	&__container {
		max-width: toRem(1230);
	}

	// .stepper__wrapper

	&__wrapper {
		display: flex;
		gap: toRem(60);
		@media (max-width: toEm(900)) {
			flex-direction: column;
		}
		&--flex {
			@media (max-width: toEm(900)) {
				flex-direction: row;
			}
			@media (max-width: toEm(830)) {
				flex-direction: column;
			}
		}
	}

	// .stepper__left

	&__left {
		border-radius: 12px;
		padding: toRem(12);
		border: 1px solid #e2e8f0;
		background: #f8fafc;
		max-width: toRem(260);
		width: 100%;
		height: fit-content;
		@media (max-width: toEm(900)) {
			max-width: 100%;
		}
	}

	// .stepper__item

	&__item {
		display: flex;
		align-items: center;
		gap: toRem(12);
		&:not(:last-child) {
			margin-bottom: toRem(4);
		}
	}

	// .stepper__right

	&__right {
		max-width: toRem(880);
		width: 100%;
	}
}
.item-step {
	cursor: pointer;
	padding: toRem(6) toRem(12);
	transition: all 0.3s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #cef3d6;
			border-radius: 8px;
		}
	}
	&.active {
		border-radius: 8px;
		background: #cef3d6;
	}
	// .item-step__progress

	&__progress {
		display: flex;
		width: 36px;
		height: 36px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		border-radius: 36px;
		color: #64748b;
		font-size: 14px;
		font-weight: 700;
		line-height: 116%; /* 16.24px */
		border-radius: 1000px;
		&--default {
			border: 1px solid #e2e8f0;
			background: #fff;
		}
		&--current {
			background: #fff;
			border: 1px solid #28a745;
		}
		&--filled {
			background: #28a745;
			svg {
				width: 16px;
				height: 16px;
				fill: white;
			}
		}
	}

	&__title {
		color: #64748b;
		font-size: 14px;
		font-weight: 600;
		line-height: 116%;
		&.active {
			color: #041007;
		}
	}
}

.step-details {
	// .step-details__form

	&__form {
	}
}
.step-form {
	opacity: 0;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	transition:
		opacity 0.4s ease,
		visibility 0.4s ease,
		height 0.4s ease;
	pointer-events: none;

	&.active {
		opacity: 1;
		visibility: visible;
		height: auto;
		pointer-events: auto;
	}
	// .step-form__title

	&__title {
		color: #0f172a;
		@include adaptiveValue("font-size", 32, 25);
		font-weight: 600;
		line-height: 116%; /* 37.12px */
		margin-bottom: toRem(32);
		&--margin {
			margin-bottom: toRem(12);
		}
	}

	// .step-form__wrapper

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: toRem(32);
	}
	&__fields-wrap {
		display: flex;
		flex-direction: column;
		gap: toRem(24);
	}
	// .step-form__row

	&__row {
		display: flex;
		gap: toRem(16);
		@media (max-width: toEm(900)) {
			flex-direction: column;
		}
	}

	// .step-form__field

	&__field {
		width: 100%;
	}
	&__text {
		color: #475569;
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: toRem(32);
		}
	}
	&__buttons-wrap {
		display: flex;
		gap: toRem(12);
		align-self: flex-end;
	}
	&__button {
		align-self: flex-end;
		padding: 16px 24px;
		border-radius: 8px;
		background: $accentColor;
		color: #fff;
		font-family: "Poppins";
		font-weight: 600;
		line-height: 135%; /* 21.6px */
		letter-spacing: -0.2px;
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #10832b;
			}
		}
		&--back {
			color: #475569;
			background-color: #f1f5f9;
			@media (any-hover: hover) {
				&:hover {
					background-color: #bcbec1;
				}
			}
		}
	}
	&__password-wrap {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	&__payment {
		display: flex;
	}
	&__plan {
	}
}
.toggle-password {
	position: absolute;
	top: 50%;
	right: 0.75rem;
	transform: translateY(-50%);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.step-form__field {
	display: grid;
	gap: toRem(8);
	label {
		color: #1e293b;
		font-size: 12px;
		font-weight: 700;
		line-height: 110%; /* 13.2px */
	}
	input {
		border-radius: 8px;
		padding: toRem(17) toRem(12);
		border: 1px solid #e2e8f0;
		&::placeholder {
			color: #64748b;
			line-height: 135%; /* 21.6px */
		}
		&:focus {
			border-radius: 8px;
			border: 1px solid #28a745;
			outline: none;
			background: #fff;
			box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.02);
		}
	}
}

.custom-select {
	position: relative;
	width: 100%;
	cursor: pointer;
}

.custom-select__trigger {
	padding: 17px 12px;
	border-radius: 8px;
	border: 1px solid #e2e8f0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	span {
		color: #64748b;
	}
}

.custom-select__options {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: white;
	border: 1px solid #ccc;
	display: none;
	z-index: 50;
	list-style: none;
	margin: 0;
	padding: 0;
	border-radius: 8px;
	overflow: hidden;
}

.custom-select__option {
	padding: 10px;
	cursor: pointer;
}

.custom-select__option:hover {
	background: #eee;
}

.custom-select.open .custom-select__options {
	display: block;
}

.verification {
	display: flex;
	padding: 40px 20px;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	align-self: stretch;
	border-radius: 16px;
	border: 1px solid #e2e8f0;
	background: #f8fafc;
	svg {
		width: 32px;
		height: 32px;
		flex-shrink: 0;
	}
	// .verification__title

	&__title {
		color: #041007;
		font-size: 20px;
		font-weight: 700;
	}

	// .verification__text

	&__text {
		color: #1e293b;
		text-align: center;
		font-weight: 500;
		line-height: 136%;

		span {
			font-weight: 700;
		}
	}

	// .verification__resend-btn

	&__resend-btn {
		color: #28a745;
		font-weight: 700;
		line-height: 135%;
		letter-spacing: -0.2px;
		transition: color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: #1e293b;
			}
		}
	}
}
.step-form__field {
	input {
		width: 100%;
		padding-right: 2.5rem;
	}
}

//===================Plan=================

.plan {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 16px;
	align-self: stretch;
}

.item-plan {
	display: flex;
	flex-direction: column;
	gap: toRem(20);
	padding: 20px;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 0 0;
	align-self: stretch;
	border-radius: 16px;
	border: 1px solid #e2e8f0;
	background: #fff;
	transition: all 0.3s;
	height: auto;
	cursor: pointer;
	@media (any-hover: hover) {
		&:hover {
			border: 1px solid #28a746;
		}
	}
	&.selected {
		border: 1px solid #28a746;
		background: #ebfff0;
		.item-plan__button {
			background: #cef3d6;
			color: #1f8437;
			@media (any-hover: hover) {
				&:hover {
					background: #cef3d6;
					color: #1f8437;
				}
			}
		}
	}
	&.popular {
		border: 1px solid #e2e8f0;
		background: #ebfff0;
		position: relative;
		.item-plan__button {
			color: #fff;
			background-color: $accentColor;
			@media (any-hover: hover) {
				&:hover {
					background-color: #10832b;
				}
			}
		}
		@media (any-hover: hover) {
			&:hover {
				border: 1px solid #28a746;
			}
		}
	}

	// .item-plan__title

	&__title {
		color: #041007;
		font-weight: 600;
	}

	// .item-plan__price

	&__price {
	}

	// .item-plan__text

	&__text {
	
		flex: 1;
	}

	// .item-plan__list

	&__list {
		flex: 1;
	}

	// .item-plan__button

	&__button {
		padding: 10px 20px;
		justify-content: center;
		border-radius: 8px;
		background-color: #f1f5f9;
		color: #1e293b;
		font-weight: 600;
		line-height: 135%;
		letter-spacing: -0.2px;
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #c6c6c6;
			}
		}
	}
	&__badge {
		border-radius: 32px;
		background: #1e293b;
		padding: 8px 12px;
		position: absolute;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -13px;
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		width: fit-content;
		text-wrap: nowrap;
		line-height: 110%;
	}
}
.price {
	display: grid;
	gap: toRem(8);
	&__info {
		display: flex;
		align-items: center;
		gap: toRem(10);
	}
	// .price__number

	&__number {
		color: #041007;
		font-size: 32px;
		font-weight: 700;
		line-height: 135%; /* 43.2px */
		letter-spacing: -0.2px;
		&--size {
			font-size: 40px;
		}
	}

	// .price__text

	&__text {
		color: #475569;
	}
	&__payment-info {
		color: #4d4851;
		font-size: 14px;
		line-height: 135%;
	}
}

.text-plan {
	color: #4d5154;
	font-weight: 600;
}

.list-plan {
	&__item {
		display: flex;
		align-items: center;
		gap: toRem(10);
		color: #475569;

		&::before {
			content: "";
			background: url(../img/list-item.svg) 0 0 / cover no-repeat;
			width: 24px;
			height: 24px;
		}
		&:not(:last-of-type) {
			margin-bottom: toRem(14);
		}
	}
}

.selected-plan {
	padding: toRem(16) 0;
	padding-right: toRem(20);
	border-right: 1px solid #e2e8f0;
	max-width: toRem(300);
	width: 100%;
	// .selected-plan__badge

	&__badge {
		border-radius: 4px;
		background: #cef3d6;
		margin-bottom: toRem(8);
		color: #10421b;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 8px;
		width: fit-content;
	}

	&__header {
		span {
			color: #475569;
			font-size: 14px;
		}
		margin-bottom: toRem(24);
	}
	// .selected-plan__title

	&__title {
		color: #041007;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: toRem(8);
	}

	// .selected-plan__price

	&__price {
		margin-bottom: toRem(24);
	}

	// .selected-plan__text

	&__text {
		margin-bottom: toRem(24);
	}
}

.payment {
	display: flex;
	gap: toRem(20);
	@media (max-width: toEm(960)) {
		flex-direction: column;
	}
	&__right {
		padding: 20px;
		display: flex;
		flex-direction: column;
	}

	&__option {
		position: relative;
		display: flex;
		align-items: flex-start;
		gap: 12px;
		padding-top: 20px;
		padding-bottom: 20px;
		cursor: pointer;
		transition:
			border-color 0.3s,
			background-color 0.3s;
		&--border {
			padding-bottom: toRem(28);
			border-bottom: 1px solid #e2e8f0;
		}
		&--padding {
			padding-top: toRem(28);
		}
	}

	&__radio {
		display: none;
	}

	&__custom-radio {
		flex-shrink: 0;
		width: 16px;
		height: 16px;
		border-radius: 360px;
		border: 1px solid #909090;
		border-radius: 50%;
		display: inline-block;
		position: relative;
		margin-top: 4px;
		transition:
			border-color 0.3s,
			background-color 0.3s;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 8px;
			height: 8px;
			background: #00b14f;
			border-radius: 50%;
			transform: translate(-50%, -50%) scale(0);
			transition: transform 0.2s ease-in-out;
		}
	}

	&__radio:checked + .payment__custom-radio {
		border-color: #00b14f;
	}

	&__radio:checked + .payment__custom-radio::after {
		transform: translate(-50%, -50%) scale(1);
	}

	&__content {
		display: block;
		display: flex;
		justify-content: space-between;
		max-width: toRem(418);
	}

	&__text {
		display: block;
		flex-grow: 1;
	}

	&__title {
		color: #041007;
		font-weight: 600;
		margin-bottom: toRem(8);
	}

	&__description {
		color: #475569;
		font-size: 14px;
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
	}

	&__link {
		color: $accentColor;
		font-weight: 600;
		line-height: 135%; /* 21.6px */
		letter-spacing: -0.2px;
		transition: color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: #041007;
			}
		}
	}

	&__icon {
		flex-shrink: 0;
		svg {
			width: 24px;
			height: 24px;
		}
	}
}
