@use "sass:math";

// Кольори
$accentColor: #28a745;

// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1400;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins";
	line-height: 1.2;
}
body.lock {
	overflow: hidden;
	touch-action: none;
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	margin: 0 auto;
	padding: 0 toRem(15);
}

.description {
	padding-top: toRem(140);
	padding-bottom: toRem(100);

	// .description__container

	&__container {
		max-width: toRem(1000);
	}

	// .description__company

	&__company {
	}
	&__link {
		display: flex;
		align-items: center;
		gap: toRem(5);
		font-weight: 500;
		color: $accentColor;
		transition: color 0.3s;
		svg {
			flex-shrink: 0;
			width: toRem(14);
			height: toRem(14);
			color: #fff;
			background: $accentColor;
			border-radius: 2px;
			padding: toRem(1);
			display: block;
			box-sizing: content-box;
		}
		&:not(:last-child) {
			margin-bottom: toRem(50);
		}
		@media (any-hover: hover) {
			&:hover {
				color: #212529;
			}
		}
	}
}
.company-info {
	display: flex;
	gap: toRem(50);
	@media (max-width: toEm(767.98)) {
		flex-direction: column;
	}
	// .company-info__left

	&__left {
		display: flex;
		flex-direction: column;
		gap: toRem(18);
		background: #f8f9fa;
		padding: 28px 36px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
		border-radius: 2px;
		max-width: 225px;
		width: 100%;
		max-height: fit-content;
		flex-shrink: 0;
		@media (max-width: toEm(767.98)) {
			max-width: 100%;
			align-items: center;
		}
	}
	&__right {
		max-width: toRem(670);
		width: 100%;
		@media (max-width: toEm(767.98)) {
			max-width: 100%;
		}
	}
}
.card-company {
	// .card-company__logo

	&__logo {
		align-self: center;
		margin-bottom: toRem(40);
		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
		}
	}

	// .card-company__item

	&__item {
		display: grid;
		gap: toRem(5);
		span {
			font-family: "Roboto";
		}
	}

	// .card-company__link

	&__link {
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__wrap {
		display: grid;
		gap: toRem(18);
		@media (max-width: toEm(767.98)) {
			grid-template-columns: repeat(4, 1fr);
			gap: toRem(20);
			text-align: center;
		}
		@media (max-width: toEm(550)) {
			grid-template-columns: repeat(2, 1fr);
			gap: toRem(20);
		}
		@media (max-width: toEm(375)) {
			grid-template-columns: 1fr;
			gap: toRem(20);
		}
	}
	// .card-company__badge

	&__badge {
		font-size: toRem(10);
		background: #aee6bb;
		color: #212529;
		padding: 4px 6px;
		border-radius: 16px;
		font-weight: 600;
		text-align: center;
		flex-shrink: 0;
		width: fit-content;
	}
	&__details {
		color: rgb(77, 81, 84);
		font-family: "Roboto";
	}
}
.item-card {
	// .item-card__title

	&__title {
		color: #909294;
	}
}

.social {
	display: flex;
	gap: toRem(12);
	&__link {
		color: #4d5853;
		&::before {
			font-size: toRem(25);
			transition: color 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: $accentColor;
				}
			}
		}
	}
}

.about-company {
	// .about-company__header

	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: toRem(20);
		justify-content: space-between;
		margin-bottom: toRem(50);
	}

	// .about-company__wrap

	&__wrap {
	}

	// .about-company__title

	&__title {
		text-wrap: wrap;
		font-size: 30px;
		color: #212529;
		line-height: 1.5em;
		font-weight: 600;
		margin-bottom: toRem(10);
	}

	// .about-company__descriptor

	&__descriptor {
	}

	// .about-company__button

	&__button {
	}
	&__review {
		background: #f8f9fa;
		padding: 20px 50px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
		border-radius: 2px;
		min-height: auto;
		@media (max-width: toEm(767.98)) {
			padding: 10px 20px;
		}
	}
	&__details {
		color: rgb(77, 81, 84);
		font-family: "Roboto";
	}
}

.review {
	&__title {
		font-size: toRem(20);
		font-weight: 500;
		margin-bottom: toRem(20);
	}
	&__text {
		font-family: "Roboto";
		color: rgb(33, 37, 41);
		word-break: break-word;
		line-height: 2rem;
		p {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}
}

//========================Popup=====================

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.48);
	backdrop-filter: blur(3px);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	z-index: 1000;
	// .popup__form

	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		&:not(:last-child) {
			margin-bottom: toRem(27);
		}
	}
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: toRem(30) toRem(10);
		max-height: 100vh;
	}
	&__content {
		overflow: hidden;
		max-width: toRem(554);
		max-height: 80vh;
		background-color: #fff;
		padding: toRem(55) toRem(47) toRem(40) toRem(47);
		color: #000;
		border-radius: 12px;
		background: #fff;
		box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.15);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-y: auto;

		@media (max-width: toEm(480)) {
			padding: toRem(50) toRem(10) toRem(20) toRem(10);
		}
		span {
			color: #9b9b9b;
			text-align: center;
			font-size: toRem(12);
		}
	}
	// .popup__title

	&__title {
		color: #28a745;
		text-align: center;
		font-size: toRem(32);
		font-weight: 700;
		@include adaptiveValue("font-size", 32, 25);
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
	}
	&__text {
		color: #3f3f3f;
		text-align: center;
		font-family: "Poppins";
		font-size: toRem(15);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}

	// .popup__input

	&__field {
		display: grid;
		gap: toRem(10);
		input {
			padding: toRem(10) toRem(15);
			border-radius: 8px;
			border: 1px solid #c2bdbd;
			background: #fff;
			box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.02);
			transition:
				box-shadow 0.3s ease,
				border 0.3s ease;

			&::placeholder {
				color: #c2bdbd;
			}
			&:focus {
				border-radius: 8px;
				border: 1px solid #28a745;
				outline: none;
				background: #fff;
				box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.02);
				transition: border 0.3s;
			}
		}
		label {
			color: #3f3f3f;
			font-size: toRem(12);
			font-weight: 500;
		}
		&:not(:last-child) {
			margin-bottom: toRem(17);
		}
	}

	// .popup__button

	&__button {
	}
	&__close {
		position: absolute;
		top: toRem(15);
		right: toRem(15);
		@media (any-hover: hover) {
			&:hover {
				svg {
					transform: scale(1.1);
				}
			}
		}
		svg {
			width: toRem(20);
			height: toRem(20);
			transition: transform 0.3s;
		}
	}
}

.popup.open {
	visibility: visible;
	opacity: 1;
	touch-action: none;
}
.popup:not(.open) .popup__close {
	pointer-events: none;
	visibility: hidden;
}

#messageSubmit {
	border-radius: 12px;
	background: rgb(227, 251, 233);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all 0.3s ease;
	position: fixed;
	top: toRem(70);
	left: 50%;
	transform: translateX(-50%);
	z-index: 1100;
	padding:toRem(10) toRem(47) toRem(10) toRem(27);
	max-width: toRem(554);
	width: 90%;     


	p {
		color: #3f3f3f;
		font-size: 12px;
		margin: 0;
	}
}

#messageSubmit.show {
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%) translateY(0);
}

#messageSubmit .close-message {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	right: 10px;
}
