@use "sass:math";

// Кольори
$accentColor: #28a745;

// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1144;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
html {
	scroll-behavior: smooth;
}
body {
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

body.lock {
	overflow: hidden;
	touch-action: none;
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	margin: 0 auto;
	padding: 0 toRem(15);
}

.description {
	padding-top: toRem(120);
	padding-bottom: toRem(208);

	// .description__container

	&__container {
		max-width: toRem(1145);
	}

	// .description__company

	&__company {
	}
	&__link {
		display: flex;
		align-items: center;
		gap: toRem(8);
		font-weight: 500;
		color: $accentColor;
		transition: color 0.3s;
		svg {
			flex-shrink: 0;
			width: toRem(16);
			height: toRem(16);
		}
		&:not(:last-child) {
			margin-bottom: toRem(32);
		}
		@media (any-hover: hover) {
			&:hover {
				color: #212529;
			}
		}
	}
}
.company-info {
	display: flex;
	gap: toRem(24);
	@media (max-width: toEm(767.98)) {
		flex-direction: column;
	}
	// .company-info__left

	&__left {
		display: flex;
		flex-direction: column;
		border-radius: 2px;
		max-width: 270px;
		width: 100%;
		max-height: fit-content;
		flex-shrink: 0;
		@media (max-width: toEm(767.98)) {
			max-width: 100%;
			align-items: center;
		}
		@media (max-width: toEm(480)) {
			align-items: flex-start;
		}
	}
	&__right {
		max-width: toRem(850);
		width: 100%;
		@media (max-width: toEm(767.98)) {
			max-width: 100%;
		}
	}
}
.card-company {
	// .card-company__logo

	&__logo {
		align-self: center;
		margin-bottom: toRem(40);
		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
		}
	}

	// .card-company__item

	&__item {
		display: grid;
		gap: toRem(5);
		span {
			font-family: "Roboto";
		}
	}

	// .card-company__link

	&__link {
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__wrap {
		display: grid;
		border-left: 5px solid $accentColor;

		@media (max-width: toEm(767.98)) {
			grid-template-columns: repeat(4, 1fr);
			text-align: center;
		}
		@media (max-width: toEm(700)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: toEm(480)) {
			grid-template-columns: 1fr;
			gap: toRem(20);
			text-align: left;

		}
		&:not(:last-child) {
			margin-bottom: toRem(32);
		}
	}

	&__details {
		color: rgb(77, 81, 84);
		font-family: "Roboto";
	}
	&__rating {
		&:not(:last-child) {
			margin-bottom: toRem(32);
		}
	}
	&__update {
		color: #94a3b8;
		font-size: 14px;
		line-height: 110%; /* 15.4px */
	}
	&__social {
		&:not(:last-child) {
			margin-bottom: toRem(32);
		}
	}
}
.item-card {
	display: flex;
	align-items: center;
	gap: toRem(12);
	padding: 12px 16px;
	&__info {
		display: grid;
		gap: toRem(8);
	}
	// .item-card__title

	&__title {
		color: #0f172a;
		font-size: 14px;
		font-weight: 700;
		line-height: 14px; /* 100% */
	}
	&__icon {
		flex-shrink: 0;
		width: 44px;
		height: 44px;
		border-radius: 4px;
		background: #f1f5f9;
		display: grid;
		place-items: center;
	}
	span {
		color: #94a3b8;
		font-size: 12px;
		font-weight: 500;
		line-height: 20px; /* 166.667% */
	}
}

.social {
	display: flex;
	gap: toRem(12);
	&__link {
		transition: transform 0.3s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

.about-company {
	// .about-company__header

	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: toRem(20);
		justify-content: space-between;
		margin-bottom: toRem(32);
		padding: toRem(16) toRem(24);
		border-radius: 12px;
		background: #f1f5f9;
		span {
			color: #475569;
			font-weight: 600;
			line-height: 110%;
		}
	}

	&__logo {
		display: flex;
		width: 72px;
		height: 72px;
		padding: 20px;
		justify-content: center;
		align-items: center;
		border-radius: 12px;
		background: #f1f5f9;
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
		svg {
			width: 32px;
			height: 32px;
		}
	}

	// .about-company__title

	&__title {
		text-wrap: wrap;
		font-size: 30px;
		color: #212529;
		line-height: 1.5em;
		font-weight: 600;
		margin-bottom: toRem(10);
	}

	// .about-company__button

	&__button {
		background-color: #1e293b;
		color: #fff;
		padding: toRem(12) toRem(20);
		font-weight: 700;
		border-radius: 8px;
		flex-shrink: 0;
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $accentColor;
			}
		}
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: toRem(20);
		&:not(:last-child) {
			margin-bottom: toRem(28);
		}
	}

	&__title {
		color: #0f172a;
		text-align: center;
		font-weight: 700;
		@include adaptiveValue("font-size", 32, 28);
		line-height: 110%;
	}
	&__link {
		display: flex;
		align-items: center;
		gap: toRem(4);
		@media (any-hover: hover) {
			&:hover {
				svg {
					transform: rotate(45deg);
				}
				span {
					text-decoration: none;
				}
			}
		}
		span {
			color: $accentColor;
			font-family: "Inter";
			font-size: 14px;
			font-weight: 700;
			line-height: 14px; /* 100% */
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: none;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;
		}
		svg {
			flex-shrink: 0;
			transition: transform 0.3s;
		}
	}

	&__review {
		border-radius: 12px;
		border: 1px solid #e2e8f0;
		min-height: auto;
		padding: 20px 20px 32px 20px;
		@media (max-width: toEm(767.98)) {
			padding: 10px 20px;
		}
	}
}

.review {
	&__title {
		color: #0f172a;
		font-weight: 700;
		line-height: 110%; /* 17.6px */
		display: flex;
		align-items: center;
		gap: toRem(8);
		&::before {
			content: "";
			background: url(../img/review-element.svg) 0 0 / cover no-repeat;
			width: 24px;
			height: 24px;
		}
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	&__text {
		color: #0f172a;
		font-size: 16px;
		line-height: 128%; /* 20.48px */
		leading-trim: both;

		text-edge: cap;
		p {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}
}

//========================Popup=====================

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(30, 41, 59, 0.4);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	z-index: 1000;
	// .popup__form

	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		&:not(:last-child) {
			margin-bottom: toRem(27);
		}
	}
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: toRem(30) toRem(10);
		max-height: 100vh;
	}
	&__content {
		overflow: hidden;
		max-width: toRem(480);
		max-height: 80vh;
		background-color: #fff;
		padding: toRem(32) toRem(24);
		border-radius: 12px;
		background: #fff;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-y: auto;

		@media (max-width: toEm(480)) {
			padding: toRem(40) toRem(24);
		}
		span {
			color: #9b9b9b;
			text-align: center;
			font-size: toRem(12);
		}
	}
	// .popup__title

	&__title {
		color: #1e293b;
		text-align: center;
		font-size: 24px;
		font-weight: 700;
		line-height: 135%; /* 32.4px */
		letter-spacing: -0.2px;
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
	}
	&__text {
		color: #64748b;
		text-align: center;
		font-size: 14px;
		line-height: 122%; /* 17.08px */
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 20);
		}
	}

	// .popup__input

	&__field {
		display: grid;
		gap: toRem(8);
		input {
			border: 1px solid #e2e8f0;
			padding: toRem(15) toRem(8);
			border-radius: 8px;
			background: #fff;
			transition:
				box-shadow 0.3s ease,
				border 0.3s ease;

			&::placeholder {
				color: #64748b;
				font-family: "Plus Jakarta Sans";
				font-size: 14px;
				line-height: 135%; /* 18.9px */
			}
			&:focus {
				border-radius: 8px;
				border: 1px solid #28a745;
				outline: none;
				background: #fff;
				box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.02);
				transition: border 0.3s;
			}
		}
		label {
			color: #1e293b;
			font-family: "Plus Jakarta Sans";
			font-size: 12px;
			font-weight: 700;
			line-height: 110%;
		}
		&:not(:last-child) {
			margin-bottom: toRem(17);
		}
	}

	// .popup__button

	&__button {
	}
	&__close {
		position: absolute;
		top: toRem(16);
		right: toRem(16);
		@media (any-hover: hover) {
			&:hover {
				svg {
					transform: scale(1.1);
				}
			}
		}
		svg {
			width: toRem(20);
			height: toRem(20);
			transition: transform 0.3s;
		}
	}
}

.popup.open {
	visibility: visible;
	opacity: 1;
	touch-action: none;
}
.popup:not(.open) .popup__close {
	pointer-events: none;
	visibility: hidden;
}

#messageSubmit {
	border-radius: 16px;
	border: 1px solid #e3deed;
	background: #fff;
	box-shadow:
		0px 148px 41px 0px rgba(162, 185, 181, 0),
		0px 95px 38px 0px rgba(162, 185, 181, 0.01),
		0px 53px 32px 0px rgba(162, 185, 181, 0.05),
		0px 24px 24px 0px rgba(162, 185, 181, 0.09),
		0px 6px 13px 0px rgba(162, 185, 181, 0.1);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all 0.3s ease;
	position: fixed;
	top: toRem(80);
	left: 50%;
	transform: translateX(-50%);
	z-index: 1100;
	padding: toRem(16);
	max-width: toRem(486);
	width: 90%;
	display: flex;
	align-items: center;
	gap: toRem(16);
	svg {
		width: 40px;
		height: 40px;
		flex-shrink: 0;
	}
	p {
		color: #475569;
		font-family: "Plus Jakarta Sans";
		font-size: 16px;
		font-weight: 700;
		line-height: 122%; /* 19.52px */
		letter-spacing: -0.2px;
	}
}

#messageSubmit.show {
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%) translateY(0);
}

#messageSubmit .close-message {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}
